################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/dist
/bin
/.vs/together-api
/project-apparatus/private
/src/config/prod.config.json
/src/config/dev.config.json
/release
/coverage
/pscp.exe
